certs/*
!certs/Readme.md


CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

CPackConfig.cmake
CPackSourceConfig.cmake
app.conf
_CPack_Packages
